table{
    margin-top: -100px;
}

.table th {
    text-align: center;
    background-color: #e65c00; /* Cor de fundo dos cabeçalhos da tabela */
    color: white; /* Cor do texto dos cabeçalhos da tabela */
}

table tr{
    text-align: center;
}

h2 {
    color: #e65c00; /* Cor do título */
    font-size: 2.5rem; /* Tamanho do título */
    margin-bottom: 20px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-color: #000066; /* Cor do fundo do cabeçalho */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

main {
    flex-grow: 1; 
}

h6{
    margin-bottom: 90px;
    text-align: center;
    padding: 10px 20px 20px;
}

p {
    max-width: 800px;
    line-height: 1.6;
}

.footer {
    background-color: #000066; /* Cor do fundo do rodapé */
    padding: 20px 0;
    position: relative; 
    width: 100%;
    bottom: 0; 
}

.footer p {
    margin: 0;
    text-align: center; 
}

.navbar {
    display: flex;
    justify-content: space-between; /* Mantém a logo e os links nos extremos da navbar */
    align-items: center;
    padding: 10px 20px;
    
}

.logo{
    font-size: large;
    color: #f1f1f1;
}

.logo img {
    height: 50px; /* Defina a altura da logo */
}

.nav-links {
    list-style: none;
    display: flex;
    margin-left: auto; /* Isso empurra os links para a direita */
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white; /* Cor do texto dos links */
    text-decoration: none;
    transition: color 0.3s; /* Transição suave para a mudança de cor */
}

.nav-links a:hover {
    color: #ffcc00; /* Cor do texto ao passar o mouse */
}

.menu-icon {
    display: none; /* Inicialmente oculto em telas grandes */
    cursor: pointer;
    color: white; /* Cor do ícone do menu */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .nav-links {
        box-shadow: 0 30px 10px rgba(0, 0, 0, 0.2);
        display: none; /* Ocultar links na versão móvel por padrão */
        flex-direction: column;
        position: absolute;
        background: #000066; /* Cor do fundo do menu */
        width: 100%;
        top: 60px; /* Altura da navbar */
        left: 0;
        padding: 10px 0;
        z-index: 1000; /* Certifique-se de que a lista de links aparece sobre outros elementos */
    }

    .nav-links li {
        margin: 10px 0; /* Margem para cada item */
        text-align: center; /* Centralizar texto nos itens do menu */
    }

    .menu-icon {
        display: block; /* Mostrar o ícone de menu em telas pequenas */
        font-size: 40px;
    }

    .nav-active {
        display: flex; /* Mostrar links quando a classe nav-active estiver presente */
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.5rem;
    }

    h6{
        margin-bottom: -80px;
        text-align: center;
        padding: 10px 120px 120px;
    }

    table{
        max-width: 60%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 2rem;
    }
    
    h6{
        margin-bottom: -150px;
        text-align: center;
        padding: 10px 200px 200px;
    }

    table{
        max-width: 60%;
        margin: 0 auto;
    }
 
    .footer p {
        text-align: end;
        margin-left: 52px;
    }
}